/** Header 2 - Customizations **/
.header-2 .navbar .nav > li > a:hover,
.header-2 .navbar .nav > li > a:focus,
.header-2 .navbar .nav > li > a.active {
  color: white;
}
.header-2 .navbar .nav > li.active > a {
  color: white;
}
.header-2 .navbar .nav > li.active > a:hover,
.header-2 .navbar .nav > li.active > a:focus,
.header-2 .navbar .nav > li.active > a.active {
  color: #a0a0a0;
}

.header-2 .navbar .brand {
  padding-top: 20px;
  font-size: 30px;
}
.header-2-sub {
  padding-top: 260px;
  padding-bottom: 116px;
}

.header-2-sub .hero-unit h1 {
  font-weight: 500;
  line-height: 52px;
  font-size: 50px;
}

.background {
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7) ), url('../img/cover.jpeg');
  opacity: 10;
}


/**
 * Content - 26 Customization
 * */
.content-26 {
  padding-top: 75px;
  padding-bottom: 100px;
  text-align: center;
}

/** Content 9 Customization**/
.content-9 {
  padding-top: 130px;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .content-9 {
    padding-top: 105px;
    padding-bottom: 0;
  }
  .content-9 .hidden-phone {
    margin-top: 40px;
  }
}

/** Content 24 Customizations **/
.content-24 img.image {
  top: 8%;
}
